/*HEADER SECTION*/
header{
	background-color: #2d3436;
	color: white;
}

html,
body {
 height: 100%;
 position: relative;
}

.main-container {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 100px; /* height of your footer */
}

nav{
	 margin: 0;
    padding: 0;
}

#title{
	font-family: sans-serif;
	text-align: center;
}

.main-nav{
	list-style: none;
	margin-top: 0.4rem;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	text-align: center;
}
/*INDIVIDUAL ITEMS*/
.nav-item {
	display: inline-block;
	float: center;
	padding: 1.5rem;
	margin: 0,5rem;
}


/*TIPS & OTHER CONTENT*/
#tips{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin: 1.2rem;
}

/*the syle when tips are selected is messed up. fix it*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.tip_line{
	padding: 2rem;
	margin: 2rem 1.8rem;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	float: right;
}

/*FOOTER*/
footer{
	background-color: #2d3436;
	color: white;
 	position: absolute;
 	bottom: 0;
 	width: 100%;
}
/*Link stylings for hover, clicks, etc*/

.socials{
	list-style: none;
	margin-left: 30%;
	margin-top: 2%;
}

.socials li{
   display: inline-block;
   margin-left: 40px;
   padding-right: 1.8rem;
}
